<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="" rel="stylesheet" />
  <title></title>
  <style>
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 40px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <script>
    // Save the token to local storage

    const token = '<%= token %>'; // Access the token passed from the controller
    localStorage.setItem('authToken', token); // Store token in local storage
    // Optionally, you could also set a cookie 
  </script>
  <h1>Dashboard</h1>

  <%= console.log('----user d', user) %>

    <% if(user.role===0){ %>
      <ul>
        <li><a href="/userprofile/<%= user.id %>">User Profile</a></li>
        <li><a href="/enterpriselist">Enterprise List</a></li>
      </ul>

      <% }else if(user.role===1){ %>
        <ul>
          <li><a href="/userprofile/<%= user.id %>">User Profile</a></li>
          <li><a href="/adminenterprise/<%= user.enterpriseId %>">Enterprise</a></li>
    
      <% }else{ %>
          <ul>
            <li><a href="/userprofile/<%= user.id %>">User Profile</a></li>
          </ul>
      <% } %>
</body>

</html>